
#aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#aboutDiv .home{
   font-size: 39px;
   margin-top: 5%;
   font-weight: bold;
}

.about{
    font-weight: bold;
    font-size: 20px;
}

#aboutDiv h1{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#aboutDiv .intro {
    white-space: pre-line;
    margin-top: 10px; 
    font-size: 30px;
    font-weight: bold;
}

#aboutDiv .intro::after {
    animation: typing 5s steps(31) infinite;
}

.endHr{
    width: 70%;
    border: solid;
    color: black;
}

.homeHr{
    width: 10%;
    border: solid 1px gray;
}