body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#headerDiv {
  background-color: black;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 (선택사항) */
  z-index: 1000; /* 다른 요소 위로 렌더링되도록 설정 */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  color: white;
  display: inline;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #00bcd4;
}

button {
  background-color: black; 
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: gray; 
}